<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navbarContainer">
        <div class = "top"> 
            <h1> Edite seu item da lista </h1>
        </div>
         <div class = "top2">
            <%= form_for @task do |f| %>
                <%= f.label :description, "Description: " %>
                <%= f.text_field :description %><br><br><br>
                <%= f.label :status, 'Status' %>  
                <%= f.check_box :status %><br><br>
                <%= f.submit 'Editar' %>
            <% end %>
         </div>
         <div class = "top3">
            <em> Data de hoje <%= Date.today %></em>
         </div>
    </div>
</body>
</html>
