<div class = "top"> 
    <h1> Edite seu item da lista </h1>
</div>

<div class = "top2">
    <%= form_for @task do |f| %>
        <%= f.label :description, "Description: " %>
        <%= f.text_field :description %><br><br><br>
        <%= f.label :status, 'Status' %>  
        <%= f.check_box :status %><br><br>
        <%= f.submit 'Editar' %>
        <%= link_to '<button type="button">Voltar</button>'.html_safe, '/' %>
    <% end %>
    
</div>


<div class = "top3">
    <em> Data de hoje <%= Date.today %></em>
</div>

